.procedure-card {
    background: #FAFAFA;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    padding: 0px;
    text-align: left;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    transition: transform 0.2s ease;
    cursor: pointer;
}

.procedure-card:hover {
    transform: translateY(-5px);
}

.procedure-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 2px solid black;
    /* border-radius: 6px; */
}

.procedure-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #002a66;

    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 44px; /* Chiều cao cố định (2 dòng) */
}

.procedure-desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 38px; /* Chiều cao cố định (2 dòng) */
}

.procedure-price {
    font-size: 18px;
    font-weight: bold;
    color: #002a66;
    margin-bottom: 10px;
}

.procedure-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.procedure-actions a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.procedure-actions button {
    background: #002a66;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.procedure-actions button:hover {
    background: #0044aa;
}
