.whychooseus {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  background-color: #fff;
}

@media (min-width: 1024px) {
  .whychooseus {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 80px;
  }
}

.left {
  flex: 1;
}

.image-container {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 350px;
}

.main-image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.stats-box {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background: #fff;
  border-radius: 12px;
  /* padding: 24px; */
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.stat-item {
  text-align: center;
}

.stat-number {
  font-size: 40px;
  font-weight: bold;
  color: #0a0354;
  margin: 0px;
}

.stat-label {
  font-size: 14px;
  color: #666;
}

.right-about {
  flex: 1;
}

.subtitle-about {
  color: #0f0855;
  font-size: 20px;
  margin-bottom: 8px;
}

.title-about {
  font-size: 28px;
  font-weight: bold;
  color: #1e1b4b;
  margin-bottom: 16px;
}

.description-about {
  color: #444;
  margin-bottom: 24px;
  line-height: 1.6;
}

.benefits {
  list-style: none;
  padding: 0;
  margin-bottom: 24px;
}

.benefit-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 12px;
  color: #333;
}

.check-icon {
  color: #4f46e5;
  margin-top: 4px;
  flex-shrink: 0;
}

.learn-more-btn {
  background-color: #1e1b4b;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #3730a3;
}

.check-icon {
  color: #153d66; /* hoặc màu xanh tùy bạn */
  margin-right: 8px;
  font-size: 18px;
}