.course-form-container {
  max-width: 1200px;
  margin-top: 0;
  padding: 24px;
  padding-top: 0;
  background: #f8f9fd;
  /* border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
}

.course-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e88e5;
}

.course-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-content {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

/* Cột trái & phải */
.form-column-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-column-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group-course-info {
  display: flex;
  flex-direction: column;
}

.form-group-course-info label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #333;
}

.form-group-course-info input,
.form-group-course-info select,
.form-group-course-info textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease;
}

.form-group-course-info input:focus,
.form-group-course-info textarea:focus {
  border-color: #1e88e5;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

/* Ảnh preview */
.image-preview {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  /* max-height: 200px; */
}

.image-preview img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

/* Nút submit */
.submit-btn {
  background-color: #1e88e5;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #1565c0;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group-course-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.course-description {
  white-space: pre-line;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}