.course-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 270px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  text-align: left;
}

.course-image {
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.badge-container {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  gap: 4px;
}

.badge {
  background: #00b894;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 10px;
}

.second-badge {
  background: #9C5CFF;
}

.course-info {
  padding: 10px;
}

.course-info h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 12px;
  color: #666;
  margin: 4px 0;
}

.price {
  margin-top: 8px;
}

.new-price {
  font-weight: bold;
  color: #000;
  margin-right: 6px;
}

.old-price {
  text-decoration: line-through;
  font-size: 12px;
  color: #888;
}
