.sidebar {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-right: 1px solid #eee;
  padding: 10px 15px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar-title {
  margin: 0;
  font-size: 16px;
  color: #2d6a4f;
  font-weight: bold;
}

.sidebar-username {
  margin: 0;
  font-size: 12px;
  color: #666;
}

.sidebar-menu {
  flex: 1;
}

.sidebar-menu a{
  text-decoration: none ;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s ease;
  margin-bottom: 10px;
}

.menu-item:hover {
  background: #f1f1f1;
}

.menu-item.active {
  background: #d8f3dc;
  color: #2d6a4f;
  font-weight: bold;
}

.menu-icon {
  margin-right: 10px;
  font-size: 16px;
}

.sidebar-footer {
  text-align: center;
  background: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
}

.sidebar-footer h4 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #1b263b;
}

.sidebar-footer p {
  margin: 0;
  font-size: 12px;
  color: #888;
}
