.forgot-password-background {
  background: url('../../../assets/background_login.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* 💡 Nền đen trong suốt 40% */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: none;
}

.forgot-password-right {
  flex: 1;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.forgot-password-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  margin-left: 0;
  margin-top: 60px;
}

.forgot-password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #666;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: #000;
}

.forgot-password-box h2 {
  margin-bottom: 10px;
  color: #1d1d4f;
}

.forgot-password-box p {
  margin-bottom: 20px;
}

.forgot-password-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

.btn-forgot-password {
  width: 100%;
  background-color: #1976f2;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.btn-forgot-password:hover {
  background-color: #1565c0;
}


.forgot-password {
  color: #555;
  text-align: left;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Dòng chữ đăng ký */
.text-register {
margin-top: 35px;
font-size: 16px;
color: #666;
text-align: center;
}

.text-register a {
color: #4facfe;
text-decoration: none;
font-weight: bold;
}

.text-register a:hover {
text-decoration: underline;
}
