.courses-page{
    padding: 0 120px 10px 120px;
}

.category-bar {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.category-btn {
  border: 1px solid #ccc;
  background: white;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 14px;
}

.category-btn:hover {
  background: #1a1a4d; /* xanh đậm */
  color: white; /* chữ trắng */
  border-color: #0066cc;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.new-courses-container {
  margin-top: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
  font-size: 20px;
}

.header p {
  font-size: 14px;
  color: #666;
  margin-top: 0;
}

.view-more {
  border: 1px solid #000;
  background: white;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột */
  gap: 16px;
  /* margin-top: 20px; */
}